#bisection{
	width: 60%;
	margin: auto;
}

#hf{
	height: 30%;
	width: 80%;
	margin: auto;
}

#t1{
	font-size: 80px;
	padding-right: 30%;
}

.sac{
	height: 160px;
	width: 50%;
	border-color: solid yellow 2px;
	margin: auto;
}

li, ul, .navigation{
	list-style: none;
	background-color: black;
	display: inline-block;
	width: 30%;
}

a, li, ul, .navigation{
	text-decoration: none;
	color: black;
	color: red;
}

.navigation{
	margin: auto;
	width: 45%;
}